.banner {
    background: url('../img/booking/0.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    height: 300px;
}

.form-check-input {
    margin-top: 0.2rem!important;
}

.form-check {
    padding-left: 1.5rem!important;
}


#booking-form fieldset {
	width: 100%;
	position: relative;
}

/*Hide all except first fieldset*/
#booking-form fieldset:not(:first-of-type) {
	display: none;
}


/*bar*/
#bar {
	overflow: hidden;
	counter-reset: list-number;
    margin-top: 3rem;
}
#bar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	width: 25%;
	float: left;
	position: relative;
    text-align: center;
}
#bar li:before {
	/* counter-increment: step;
	content: counter(step, decimal-leading-zero);
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 25px;
	color: white;
	background: #C8C8C8;
	border-radius: 50px;
	margin: 6px auto 5px auto;
    padding: 1.5rem 2.5rem 1.5rem 2rem;
	align-items:center;
  	justify-content: center; */

	counter-increment: list-number;
  	content: counter(list-number, decimal-leading-zero);
	margin-bottom:10px;
	width:60px;
	height:60px;
	display:inline-flex;
	align-items:center;
	justify-content: center;
	font-size:16px;
	background-color:#C8C8C8;
	border-radius:50%;
	color:#fff;
}
/*bar connectors*/
#bar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #C8C8C8;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
    margin-top: 1.5rem;
}
#bar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#bar li.active:before,  #bar li.active:after{
	background: #FF9701;
	color: white;
}