.banner {
    background: url('../img/index/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 600px;
}

.cal {
    background: rgba(255, 255, 255, .6);
}

.form-check-input {
    margin-top: 0.2rem!important;
}

.form-check {
    padding-left: 1.5rem!important;
}

.form-control {
    background: rgba(101, 101, 101, .4);
    border: #707070!important;
    color: white;
}

.card {
    border-radius: 1rem!important;
}

.card img {
    height: 15rem!important;
}

.card i {
    font-size: 2rem;
    color: #FF9701;
}


.services p {
    font-size: 0.8rem!important;
    line-height: 0.9rem;
}

hr:not([size]) {
    height: 0px!important;
}

.quote {
    height: 4rem;
    position: absolute;
    left: -2.5rem;
    top: 0rem;
}

.tower {
    background: url('../img/index/tower.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 600px;
}