.banner {
    background: url('../img/login/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 600px;
}


.log {
    background: rgba(255, 255, 255, .6);
}

.form-control {
    background: rgba(101, 101, 101, .4);
    border: #707070!important;
    color: white;
    border-radius: 0!important;
}

.form-check-label {
    font-size: 0.9rem;
}

hr {
    background-color: #FF9701!important;
    opacity: 1!important;
}

hr:not([size]) {
    height: 1px!important;
}

.footer {
    margin-top: 0!important;
}





@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    
}


@media (max-width: 576px) {
    .banner {
		padding: 0 1rem!important;
	}
    .form-check {
        padding-left: 0rem!important;
    }
    .form-check label {
        font-size: 0.9rem!important;
    }
    #flexCheckRegister {
        padding-left: 1.5rem!important;
    }
}