.banner {
    background: url('../img/rates/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    width: 100%;
    height: 350px;
}

table {
    text-align: center;
}

table thead {
    background-color: #FF9701;
}
table thead tr th {
    color: white;
}
.table td, .table th {
    padding: 0.3rem!important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}



@media (max-width: 576px) {
    .banner {
        height: 170px!important;
    }
    .banner .row {
        padding-top: 3rem!important;
    }
    .banner .row h2 {
        font-size: 1.5rem!important;
    }
}