@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0!important;
}

p {
    font-size: 0.9rem;
}

.top-nav {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.logo {
    position: absolute;
    top: -1.5rem;
    height: 6rem;
}

.bottom-nav ul li a {
    border-bottom: 2px solid transparent;
}

.bottom-nav .nav-link:hover {
    border-bottom: 2px solid #FF9701;
}

.bottom-nav ul li .active {
    border-bottom: 2px solid #FF9701;
    
}

.bottom-nav .links {
    padding: 0 1rem;
}

.footer .quick-links a {
    font-size: 0.9rem;
    color: white!important;
}

.footer-bottom-logo {
    display: none;
}

.bottom-nav .dropdown-menu {
    background-color: rgb(255, 151, 1)!important;
    left: -2rem;
}

.bottom-nav .dropdown-menu a {
    color: white!important;
}

.bottom-nav .dropdown-item:hover {
    color: #16181b!important;
}

.bottom-nav .dropdown-toggle:after {
    margin-left: 0.6em!important;
}

.banner .form-control {
    background: rgba(101, 101, 101, .4);
    border: #707070!important;
    color: white;
}

#modal .form-control {
    border-left: 5px solid #FF9701!important;
}

.modal-body .form-control:focus {
    border-left: 5px solid red!important;
}



@media (min-width: 1400px) {
   
}

@media (max-width: 1400px) {
   
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
   
}


@media (max-width: 576px) {
    .logo {
        top: -1.5rem;
        height: 5rem;
    }
    .bottom-nav button {
        margin-top: 1rem;
    }
    
    .footer-logo {
        display: none!important;
    }
    .footer-bottom-logo {
        display: block!important;
    }
    .copyright p {
        font-size: 0.8rem!important;
    }
    .quick-links {
        padding-left: 15px!important;
    }
    .g-recaptcha {
        transform:scale(0.85);
        transform-origin:0 0;
        text-align: center;
    }
}