#agent-tabs .upcoming .active {
    background-color: #ff9701;
    color: white!important;
    padding: 8px 16px 8px 16px;
    border-radius: 18px;
}
#agent-tabs .completed .active {
    background-color: #ff9701;
    color: white!important;
    padding: 8px 16px 8px 16px;
    border-radius: 18px;
}
#agent-tabs .cancelled .active {
    background-color: #ff9701;
    color: white!important;
    padding: 8px 16px 8px 16px;
    border-radius: 18px;
}
#agent-tabs .draft .active {
    background-color: #ff9701;
    color: white!important;
    padding: 8px 16px 8px 16px;
    border-radius: 18px;
}
